*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
    image-rendering: pixelated;
}

@font-face {
    font-family: dogica;
    src: url('/fonts/dogica.ttf');
    font-weight: normal;
}

@font-face {
    font-family: dogica;
    src: url('/fonts/dogicabold.ttf');
    font-weight: bold;
}

:root {
    --ui-transparent-bg: #04041fEE;
    --ui-bg: #04041f;
    --green: #226d18;
    --primary-hover: #dddddd;
    font-family: dogica, sans-serif;
    font-size: 1rem;
    overflow: hidden;
}