.gun {
    width: 96px;
    height: 96px; 
    background-image: url(sprites/weapons1.png);
    background-size: 768px 2400px;
    image-rendering: pixelated;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.stat-container h3 {
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5em;
}

.stat-container {
    width: 12.5rem;
}

.gun-stats {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    text-align: left;
    font-size: 0.75rem;
}

.gun-stats > * {
    display: flex;
    justify-content: space-between;
}