.exp-bar {
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 2px;
    text-align: center;
    min-width: 6.25rem;
    background: linear-gradient(to right, var(--green) var(--stat-percent), var(--ui-bg) var(--stat-percent));
}