.modal {
    min-width: min(31.25rem, 100%);
    background-color: var(--ui-bg);
    border: 1px solid white;
    border-radius: 0.25rem;
    padding: 2rem 1.5rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 99999;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.ui-transparent {
    background-color: var(--ui-transparent-bg);
}