.container {
    --padding-block: 0.75em;
    --line-height: 1.2;
    position: absolute;
    background-color: var(--ui-bg);
    color: white;
    top: var(--dialogue-x);
    left: var(--dialogue-y);
    padding: var(--padding-block) 1em;
    line-height: var(--line-height);
    min-height: calc(2 * 1em * var(--line-height) + (var(--padding-block) * 2));
}