.container {
    --padding-block: 0.75em;
    --line-height: 1.4;
    position: absolute;
    background-color: var(--ui-bg);
    color: white;
    width: min(31.25rem, 80%);
    bottom: 10vh;
    left: 50vw;
    translate: -50% 0;
    padding: var(--padding-block) 1em;
    border: 1px solid #979797;
    line-height: var(--line-height);
    min-height: calc(2 * 1em * var(--line-height) + (var(--padding-block) * 2) + 2px);
    box-shadow: 0 0 8px #979797;
    border-radius: 0.25em;
    user-select: none;
}

.arrow {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
}