.ammo {
    font-size: 0.75rem;
    text-align: center;
}

.gun-card {
    padding: 0.5rem;
    margin-block: 1rem;
    border-radius: 0.25rem;
}

.gun-card:hover {
    background-color: #ffffff80;
    cursor: pointer;
}

.weapon-menu-item {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 100%;
}

.weapon-menu-item h2::first-letter {
    text-transform: uppercase;
}

.weapon-menu-item h2 {
    font-size: 1.125rem;
    margin-bottom: 0.75em;
}